.vscode/launch.json
.vscode/settings.json
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
client.spec
__pycache__/common.cpython-38.pyc
__pycache__/RC4.cpython-38.pyc
__pycache__/clientUI.cpython-38.pyc
clientparadebug.pyw
__pycache__/mensajes.cpython-38.pyc
